body{
    background: url("./img/background.jpg");
    background-size: 100%;
    margin-left: 950px;
    margin-top: 160px;
    font-family: 'Lato';
}

.container{
    width: 320px;
}

.header{
        width: 100%;
        height: 36px;
        background-color:#2e3641;
        color: white;
        display: flex;
        justify-content: space-between;
}

.header p{
    font-size: 14px;
    color: white;
    padding-left: 14px;
}

.header button{
    cursor:pointer;
    font-size: 14px;
    background-color: #EE2A00;
    font-weight: bold;
    color: white;
    transition: background-color 750ms linear;
}

.header button:hover{
    background-color: rgba(97, 0, 0, 0.856);
}

#list{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.task{
    width: 100%;
    height: 36px;
    display:flex;
    justify-content:space-between;
    text-align: center;
    padding-bottom: 10px;
}

.task-done{
    width: 100%;
    height: 36px;
    display:flex;
    justify-content:space-between;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: line-through;
}

.checkboxDone{
    width: 17px;
    height: 17px;
    background-image: url('./img/filledCheckbox.png');
    background-size: 100%;
    margin-top: 10px;
    visibility: hidden;
    margin-top: 15px;
    margin-left: 10px;
    cursor:pointer;
}

.checkboxToDo{
    width: 17px;
    height: 17px;
    background-image: url('./img/emptyCheckbox.png');
    background-size: 100%;
    margin-top: 15px;
    margin-left: 10px;
    cursor:pointer;
}

.trash{
    width: 17px;
    height: 17px;
    background-image: url('./img/trash.png');
    background-size: 100%;
    margin-top: 15px;
    margin-right: 10px;
    cursor:pointer;
}

.shadowTrash{
    width: 17px;
    height: 17px;
    background-image: url('./img/shadowTrash.png');
    background-size: 100%;
    margin-top: 10px;
    visibility: hidden;
    margin-top: 15px;
    margin-right: 10px;
    cursor:pointer;
}

.add-task{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 36px;
    display:flex;
    justify-content:space-between;
    cursor:pointer;
}

.addButton{
    width: 17px;
    height: 17px;
    background-image: url('./img/addButton.png');
    background-size: 100%;
    margin-top: 10px;
}

/*
#9eb2c0 - task done
#2e3641 - task toDo
#e6ebed - border bottom task
*/

      
