<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>ToDoList in Vanilla JS</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <p>ToDo List</p>
      </div>
      <form action="/newtask" method="post">
        <div class="add-task">
          <button type="submit" id="addButton"></button>
          <input type="text" name="task" id="input" placeholder="Add Task" />
        </div>
      </form>
       <ul id="list">
     
       {{#newtask}}
      <li class="task"> 
      <form class="li-formforcheck" action="/newtask/{{_id}}/completed" method="post">
      <button class ="checkboxToDo" type="submit"></button>
      <p>{{name}}</p>
      </form>
      <form class="li-formfortrash" action="/newtask/{{_id}}/deleted" method="post">
      <button class="trash" type="submit"></button>
      </form>
      </li>
       {{/newtask}}
      </ul>
      
       <ul id="list">
       {{#doneTasks}}
      <li class="task"> 
      <form class="li-formforcheck" action="/newtask/{{_id}}/completed" method="post">
      <button class ="checkboxDone" type="submit"></button>
      <p class="task-done">{{name}} </p>
      </form>
      <form class="li-formfortrash" action="/newtask/{{_id}}/deleted" method="post">
      <button class="shadowTrash" type="submit"></button>
      </form>
      </li>
       {{/doneTasks}}
      </ul>

    </div>
  </body>
</html>
