<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" 
    rel="stylesheet">
    <title>ToDoList in Vanilla JS</title>
  </head>
  <body>
    
    <div class="container">
      <div class="header">
        <p>ToDo List</p>
        <button class="clear">CLEAR</button>
      </div>
      <ul id="list">
        <script src="./app.js"> </script>
          <form action="/newtask" method="post">
            <div class="add-task">  
              <i type="submit" id="addButton"></i> 
              <input type="text" name="task" id="input" placeholder="Add Task">
            </div>
          </form>
        
        </ul>
      </div>
  </body>
</html>